// Custom css properties
:root {
  --main-color: #f36b7f;
  --hero-text: #2b3f60;

  --ff-roboto: "Roboto", sans-serif;
  --ff-openSans: "Open Sans", sans-serif;
}

@mixin media($size) {
  @media (max-width: $size) {
    @content;
  }
}

// Basic Resets
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-roboto);
  font-size: 1.6rem;
}

::selection {
  background-color: var(--main-color);
  color: white;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-openSans);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  cursor: pointer;
  border: none;
  font: inherit;
  color: inherit;
}

img {
  user-select: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 2rem;

  @include media(992px) {
    max-width: 940px;
  }
  @include media(768px) {
    max-width: 740px;
  }
  @include media(500px) {
    max-width: 460px;
  }
}
