.footer {
  background: #82b5a5;
  color: white;
  padding-block: 5rem;
  border-radius: 150px 0 0 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media(992px) {
      flex-direction: column;
      gap: 2rem;
      text-align: center;
    }
  }
}
