.hero {
  padding-top: 70px;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @include media(992px) {
      grid-template-columns: 1frs;
    }

    .left {
      h1 {
        font-size: 5rem;
        color: var(--hero-text);
        font-weight: 800;
        word-spacing: 0.5px;
        line-height: 1.2;
      }

      p {
        color: var(--hero-text);
        margin-top: 24px;
        font-size: 1.6rem;
        word-spacing: 1px;
        line-height: 1.5;
        max-width: 420px;
      }

      a {
        display: inline-block;
        background-color: var(--main-color);
        color: white;
        padding: 1.5rem 4rem;
        margin-top: 24px;
        border-radius: 5rem;
        text-transform: uppercase;
      }
    }

    .right {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
