.app {
  max-width: 1140px;
  width: 100%;
  padding-inline: 1.5rem;
  margin-inline: auto;
  background-color: #fff;
  padding-block: 5rem;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

header i {
  font-size: 3.5rem;
  color: #ed9b1f;
}

header h1 {
  font-size: 3rem;
  font-weight: 500;
}

header span {
  font-weight: 700;
}

/* button */
.add-btn {
  background-color: #ed9b1f;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.add-btn:active {
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
}

.add-btn i {
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

.add-btn span {
  color: white;
  font-weight: 600;
}

/* table */

table {
  width: 100%;
}

.table-head {
  display: block;
  padding-block: 2rem 1rem;
  border-bottom: 1px solid grey;
  width: 100%;
}

tr {
  width: 100%;
  display: grid;
  grid-template-columns: 0.75fr 4fr 2fr 2fr 2fr;
  align-items: center;
  gap: 1rem;
}

tr th {
  justify-self: flex-start;
  font-weight: 600;
}

tbody tr {
  padding: 1rem;
  cursor: pointer;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

tbody tr td {
  color: grey;
  font-size: 1.4rem;
  font-weight: 500;
}

.flex-col span:first-child {
  color: black;
  font-weight: 700;
}

.label {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  width: max-content;
  border-radius: 6px;
}

tbody tr:hover {
  background-color: #ed9b1f;
}

tbody tr:hover td {
  color: white;
}

tbody tr:hover .label {
  background-color: white;
  color: rgba(0, 0, 0, 0.75);
}

tbody tr:hover .flex-col span:first-child {
  color: white;
}

/* modal */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal-details {
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 500px;
  width: 100%;
}

.top-part {
  padding: 2rem;
  background-color: #ed9b1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-part h2 {
  color: white;
  font-size: 2rem;
}

.top-part i {
  color: black;
  background-color: white;
  padding: 0.1rem;
  border-radius: 50%;
  font-size: 3rem;
  cursor: pointer;
}

/* form */

form {
  padding-inline: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 3rem;
  padding-block: 2rem;
}

form div:nth-child(1) {
  grid-column: span 2;
}

form div:nth-child(10) {
  grid-column: span 2;
}

input,
select {
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding-inline: 0.5rem;
  height: 3.5rem;
  width: 100%;
  border-radius: 0.4rem;
}

input::placeholder {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.4);
}

select {
  outline: none;
}

option {
  padding-block: 1rem;
}

label {
  display: block;
  font-size: 1.3rem;
}

.btns {
  display: flex;
  gap: 2rem;
  padding-inline: 2rem;
  padding-bottom: 2rem;
}
